[Unit]
Description=RandomMusic: сканировать медиатеку каждые 15 минут

[Timer]
OnBootSec=3min
OnUnitActiveSec=15min
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
