@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
body {
  margin: 0;
  padding: 0;
  background: #101010;
}

button, a {
  color: white;
  font-family: Oswald, sans-serif;
  font-size: 20px;
}

.main-bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -2;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.filter-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #30303080;
  z-index: -1;
}

.main-container {
  max-width: 1140px;
  height: 100vh;
  padding: 30px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-family: Oswald, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

.audio-container {
  text-align: center;
}

.audio-container__title {
  margin: 0;
  margin-bottom: 30px;
  position: relative;
  font-size: 30px;
  font-weight: 300;
  line-height: 50px;
}

.audio-container__title:before, .audio-container__title:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.audio-container__title:before {
  top: 0;
}

.audio-container__title:after {
  bottom: 0;
}

.audio-container__caption {
  display: block;
}

.audio-container__song-name {
  display: block;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: bold;
}

.audio-container__player {
  width: 100%;
  margin-bottom: 50px;
  -webkit-filter: contrast(64%) invert(100%);
          filter: contrast(64%) invert(100%);
  outline: none;
}

.audio-container__random-button {
  width: 200px;
  height: 80px;
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  background: #50505099;
  border: none;
  border-radius: 5px;
  transition: 0.1s linear;
  outline: none;
  cursor: pointer;
}

.audio-container__random-button:hover {
  background: #60606099;
}

.audio-container__random-button:active {
  background: #20202099;
}

.footer-links {
  width: 100%;
  text-align: center;
}

.footer-links__link {
  margin: 0px 20px;
  color: #ffffff99;
}

.footer-links__authors {
  font-size: 14px;
  padding-top: 15px;
}

.footer-links__author-link {
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .main-container {
    width: 100%;
    padding: 20px;
    font-size: 18px;
    background: #30303030;
  }
  .audio-container__song-name {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .audio-container__player {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1220px) {
  .main-container {
    padding: 30px 80px;
  }
}
